<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>See Policies</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Welcome User !!</h1>
    <h2> See Your Policies Here</h2>
</div>


<table>
    <thead>
    <tr>
        <th> Risk Id</th>
        <th>Risk Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="getPolicy : ${getAllPolicy}">
        <td th:height="50px" th:width="400px" th:text="${getPolicy.policy_name}">Risk Id   </td>
        <td th:width="400px" th:height="50px" th:text="${getPolicy.risk_Data}">Risk Title</td>
    </tr>
    </tbody>
</table>

</body>
</html>