<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Risk Policy</title>
</head>
<body >
<div style="display: flex;flex-direction: column;align-items: center;align-content: center;">

    <div style="margin-bottom: 2%">
        <button><a th:href="@{/risk}">Add Risk</a></button>
    </div>

<div  style="margin-bottom: 2%">
    <button><a th:href="@{/policyDirect}">Add Policy</a></button>
</div>

<div style="margin-bottom: 2%">
    <button><a th:href="@{/takeInput}">Perform Action</a></button>
</div>

    <div style="margin-bottom: 2%">
        <button><a th:href="@{/showRisk}">List Risk</a></button>
    </div>
</div>

</body>


</html>

