<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Risk</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Welcome User !!</h1>
    <h2> Add your Risk Here</h2>
</div>

<form class ="ui form " th:action="@{/policyAddSuccesfully}" method="post"
        th:object="${addPresentRisk}">

        <div style="padding: 5%">
        <div class="form-group row">
            <label>Policy Name </label>
            <input type="text" class="form-control" th:field="*{policy_name}"/>
        </div>

            <h3 th:text="|List Of Risks for : ${addPresentRisk.user_name}|"></h3>

            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="risk : ${getRisk}">
                    <td th:text="${risk.risk_id}">Id</td>
                </tr>
                </tbody>
            </table>

        </div>

    <div class="form-group row" style="padding: 5%">
        <label>Add Risk </label>
        <input type="text" class="form-control" th:field="*{risk_Data}"/>
    </div>

    <div >
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>





</body>
</html>