<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Risk</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
        table, th, td {
            border: 1px solid #666;
        }

        table th, table td {
            padding: 10px;
        }

        .row_name {
            background-color: aqua;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1>Welcome User !!</h1>
    <h2>Complete Risk Details Shown Below</h2>
</div>
<div style="display:flex;flex-direction: column;padding: 5%">
    <div style="margin-bottom: 1%;display: flex;flex-direction: row;">
        <a class="btn btn-primary btn-lg" th:href="@{/showRisk}">Back</a>
        <a class="btn btn-primary btn-lg" style="margin-left: 1%" th:href="@{/risk_policy}">Main Menu</a>
    </div>
    <table>
        <thead>
        <tr>\
            <th class="row_name">Serial No</th>
            <th class="row_name">Risk Id</th>
            <th class="row_name">Risk Title</th>
            <th class="row_name">Risk Description</th>
            <th class="row_name">Risk Keyword</th>
            <th class="row_name">Risk Regex</th>
            <th class="row_name">Risk Match Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sd , iter : ${showDetail}">
            <td th:height="50px" th:width="400px" th:text="${iter.count}">Serial No</td>
            <td th:height="50px" th:width="400px" th:text="${sd.risk_id}">Risk Id</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_title}">Risk Title</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_Description}">Risk Description</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_keyword}">Risk Keyword</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_regex}">Risk Regex</td>
            <td th:width="400px" th:height="50px" th:text="${sd.match_count}">Risk Match Count</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>