<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Risk</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
        table, th, td {
            border: 1px solid #666;
        }

        table th, table td {
            padding: 10px;
        }

        .row_name {
            background-color: aqua;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1>Welcome User !!</h1>
    <h2>Complete Risk Details Shown Below</h2>
</div>
<div style="display:flex;flex-direction: column;padding: 80px">
    <table>
        <thead>
        <tr>
            <th class="row_name"> Risk Id</th>
            <th class="row_name">Risk Title</th>
            <th class="row_name">Risk Description</th>
            <th class="row_name">Risk Keyword</th>
            <th class="row_name">Risk Regex</th>
            <th class="row_name"> Risk Match Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sd : ${showDetail}">
            <td th:height="50px" th:width="400px" th:text="${sd.risk_id}">Risk Id</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_title}">Risk Title</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_Description}">Risk Description</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_keyword}">Risk Keyword</td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_regex}">Risk Regex</td>
            <td th:width="400px" th:height="50px" th:text="${sd.match_count}">Risk Match Count</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>