<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>All Policy</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    <style>
        table, th, td {
            border: 1px solid #666;
        }

        table th, table td {
            padding: 10px;
        }

        .row_name {
            background-color: aqua;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1>Welcome User !!</h1>
    <h2>Complete Policy Details Shown Below</h2>
</div>
<div style="display:flex;flex-direction: column;padding: 80px">
    <table>
        <thead>
        <tr>
            <th class="row_name">Row Id</th>
            <th class="row_name">Policy Name</th>
            <th class="row_name">Risk Id</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="sd : ${showDetail}">
            <td th:height="50px" th:width="400px" th:text="${sd.row_id}">nnk</td>
            <td th:width="400px" th:height="50px" th:text="${sd.policy_name}"></td>
            <td th:width="400px" th:height="50px" th:text="${sd.risk_id}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>